In [1]:
# Add your imports here
import datetime
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
persons = pd.read_csv("persons_occurences.csv")

In [3]:
persons

        Count                          Actor
0     2021213                   donald trump
1     1465610                   barack obama
2      810167                hillary clinton
3      784535                    los angeles
4      381205                 vladimir putin
5      294330                      las vegas
6      282963                 bernie sanders
7      281551                  george w bush
8      272371                     john kerry
9      218694                  pacific ocean
10     213987                   pope francis
11     204075                  angela merkel
12     195749               malcolm turnbull
13     183833                       ted cruz
14     179097                    jerry brown
15     170428                 justin trudeau
16     168339                  rex tillerson
17     166832                      paul ryan
18     166114                  narendra modi
19     166108                        el nino
20     162641                   janet yellen
21     159079                   bashar assad
22     158202                    theresa may
23     154035                  david cameron
24     152612               muhammadu buhari
25     151015                     mike pence
26     149364                      abu dhabi
27     147098                    tony abbott
28     143077                     rick scott
29     142824                 atlantic ocean
...       ...                            ...
9970     1448                  tom haverford
9971     1448                 jason sudeikis
9972     1448                   lora waraksa
9973     1447             eduardo dos santos
9974     1447                    indra nooyi
9975     1447                daniel pantaleo
9976     1447                    kassie hall
9977     1447                  robert duvall
9978     1447                   roozi araghi
9979     1447                    earl weener
9980     1447                  emery dalesio
9981     1447                   edward albee
9982     1446                 florence welch
9983     1446                  marco minniti
9984     1446                  neeraj pandey
9985     1446               james pennington
9986     1446                     leo dutton
9987     1446                 hilliard lyons
9988     1445                    doug massey
9989     1445              christian stadler
9990     1445               steve crisafulli
9991     1445  teodoro obiang nguema mbasogo
9992     1445                  wayan sudarsa
9993     1445              sacha baron cohen
9994     1445                      ken jeong
9995     1445                    ken calvert
9996     1445                    scott moore
9997     1445                  martin kaiser
9998     1445                 james crawford
9999     1445                   serge tissot

[10000 rows x 2 columns]